<a href="https://colab.research.google.com/github/abhisheksaha28/Q-A_sqlDB-_NIC_WORKS/blob/main/NIC_work.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*THIS IS THE JUST THE CLEAN CODE FILE, ORIGINAL WORKING WAS DONE IN KAGGLE NOTEBOOK , CHANGES ARE CONTINUOUSLY BEING DONE , RUUNING IN KAGGLE AND CLEAN CODE HERE*

**DOCUMENTATION OF THIS PROJECT: **https://docs.google.com/document/d/1NORTCHmRQq55SJf7KrNPzuOHhMvz6-V2/edit?usp=sharing&ouid=107351485284436991637&rtpof=true&sd=true

In [ ]:
!pip install -U langchain
!pip install -U langchain-community
!pip install llama-index-llms-huggingface
#!pip -q install git+https://github.com/huggingface/transformers
#!pip install -q datasets loralib sentencepiece
!pip -q install bitsandbytes accelerate
!pip install einops
!pip install -U transformers==4.41.2

In [ ]:
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.agents import create_sql_agent
from langchain.agents import AgentExecutor

In [ ]:
!sudo apt install curl ca-certificates
!sudo install -d /usr/share/postgresql-common/pgdg
!sudo curl -o /usr/share/postgresql-common/pgdg/apt.postgresql.org.asc --fail https://www.postgresql.org/media/keys/ACCC4CF8.asc
!sudo sh -c 'echo "deb [signed-by=/usr/share/postgresql-common/pgdg/apt.postgresql.org.asc] https://apt.postgresql.org/pub/repos/apt $(lsb_release -cs)-pgdg main" > /etc/apt/sources.list.d/pgdg.list'
!sudo apt update
!sudo apt -y install postgresql-16



!sudo service postgresql start
#!sudo apt install postgresql-16-pgvector

In [ ]:
!sudo -u postgres psql -U postgres -c "CREATE ROLE root WITH SUPERUSER;"
!sudo -u postgres psql -U postgres -c "ALTER ROLE root WITH LOGIN;"
!sudo -u postgres psql -c "ALTER USER postgres PASSWORD 'postgres'"
!sudo -u postgres psql -c "CREATE DATABASE ragdb;"
#!sudo -u postgres psql -c "CREATE EXTENSION IF NOT EXISTS vector;"

In [ ]:
from transformers import   GenerationConfig, pipeline, BitsAndBytesConfig , CodeGenTokenizer
from langchain.llms import HuggingFacePipeline
from langchain import PromptTemplate, LLMChain
from transformers import AutoTokenizer , AutoModelForCausalLM
import torch

In [ ]:
# Load Phi-2 model from hugging face hub
model_id = "microsoft/phi-2"

tokenizer = AutoTokenizer.from_pretrained(model_id, trust_remote_code=True)
model = AutoModelForCausalLM.from_pretrained(
    model_id, torch_dtype=torch.float32, device_map="auto", trust_remote_code=True
)

In [ ]:
quantization_config = BitsAndBytesConfig(llm_int8_enable_fp32_cpu_offload=True)

#base_model_id = "microsoft/phi-2"

#Load the tokenizer
#tokenizer = AutoTokenizer.from_pretrained(base_model_id  , use_fast=True)
#Load the model with fp16
#model =  AutoModelForCausalLM.from_pretrained(base_model_id, trust_remote_code=True, torch_dtype=torch.float16, device_map={"": 0})
#print(print_gpu_utilization())
pipe = pipeline(
    "text-generation",
    model=model,
    tokenizer=tokenizer,
    #max_length=1800,
    max_new_tokens=200,
    #temperature=0.6,
    temperature=0.6,
    do_sample=True,
    top_p=0.8,
    repetition_penalty=1.2
)
pipe.model.config.pad_token_id = pipe.model.config.eos_token_id
local_llm = HuggingFacePipeline(pipeline=pipe)

In [ ]:
!pip install psycopg2-binary

In [ ]:
connection_string = "your_db_connection_string/db_name"
db_name = "db_name"
#table_name = 'embeddings'

import psycopg2

# Connect to the database
conn = psycopg2.connect(connection_string)
# Set autocommit to True to avoid having to commit after every command
conn.autocommit = True

# Create the database
# If it already exists, then delete it and create a new one
# SQL query to create the table
create_table_query = """
   CREATE TABLE beneficiary_transaction_data (
	rationcardno text,
	hofname text,
	rationcardnomemberid text,
	fullname text,
	gender text,
	state_name text,
	district_name text,
	subdivision_name text,
	block_municipalcouncil_name text,
	grampanchayat_ward_name text,
	scheme_code text,
	scheme_name text,
	financial_year text,
	installment_name text,
    amount numeric(10,0),
    benefit_type_cash_kind text,
    department_name text
);
    """

with conn.cursor() as c:
   #c.execute(f"DROP DATABASE IF EXISTS {db_name}")
   #c.execute(f"CREATE DATABASE {db_name}")
   c.execute(create_table_query)
conn.close();

In [ ]:
!sudo -u postgres psql -U postgres -d ragdb -c "\copy beneficiary_transaction_data from '/content/dbt_transactiondata.csv' delimiter ',' CSV HEADER;"

In [ ]:
!sudo -u postgres psql -d ragdb  -c "select * from beneficiary_transaction_data limit 2;"

In [ ]:
connection_string = "postgresql://postgres:postgres@localhost:5432/ragdb"
db = SQLDatabase.from_uri(connection_string,
    include_tables=['beneficiary_transaction_data'], # including only one table
	sample_rows_in_table_info=5)

In [ ]:
from langchain_core.prompts import ChatPromptTemplate, FewShotPromptTemplate, PromptTemplate

#template = """Based on the table schema below, write a SQL query that would answer the user's question:
#{schema}

#Question: {question}
#SQL Query:"""

# Create prompt templates
template1 = """
You are a PostgreSQL expert. Here, the table is about beneficiary transactions who received DBT (Direct Benefit Transfer) from Govt.
Only use the schema defination, do not change table name or column names.
Based on the table schema below, write a syntactically correct Postgres SQL query, only select relevent columns from the schema to query that would answer the user's question.
{schema}

 Here,
    rationcardno is unique ration card number and Family Id,
	hofname is the name of the head of the family i.e HoF,
	rationcardnomemberid is unique member ID,
	fullname name of the beneficiary or the person who received DBT benefit,
	gender gender of the beneficiary,
	state_name Name of the State in which the person belongs to,
	district_name Name of the District under the State in which the person belongs to,
	subdivision_name Name of the Sub division under the District in which the person belongs to,
	block_municipalcouncil_name block or Municipal council under the Sub Division where person lives,
	grampanchayat_ward_name Panchayat under the block_municipalcouncil_name in which the person lives,
	scheme_code Scheme Code of the Scheme in which the person got benefit,
	scheme_name Name of the Scheme in which the person got benefit,
	financial_year Financial Year in which the person got benefit,
	installment_name Name of the Installment of a financial_year in which the person got the benefit,
	amount DBT Amount,
	benefit_type_cash_kind benefit type such as Cash or Kind,
	department_name Name of the department which is giving DBT under the scheme_name

Note the following:
    - Use column name instead of *
    - Pay close attention to the filtering criteria mentioned in the question and incorporate them using the WHERE clause in your SQL query.
    - If the question involves multiple conditions, use logical operators such as AND, OR to combine them effectively.
    - Use the name of Table and Columns from the schema while generating the query.
    - Only generate the Postgres SQL Query ending with ;

Below are the examples of inputs and their corresponding SQL queries.
"""

#Question: {question}
#SQL Query:
#"""
#prompt = ChatPromptTemplate.from_messages(
#    [
#        ("system", "Given an input question, convert it to a Postgres SQL query. No pre-amble."),
#        ("human", template1),
#    ]
#)




#prompt1 = ChatPromptTemplate.from_template(template1)

In [ ]:
examples = [
    {"input": "List all beneficiaries.", "query": "SELECT fullname FROM beneficiary_transaction_data;"},
    {
        "input": "In which district SWAPNA TANTI lives.",
        "query": "SELECT district_name  FROM beneficiary_transaction_data WHERE fullname = 'SWAPNA TANTI';",
    },
    {
        "input": "List all persons in the 'State Urban Employment Programme (SUEP)' Scheme.",
        "query": "SELECT fullname FROM beneficiary_transaction_data WHERE scheme_name  = 'State Urban Employment Programme (SUEP)' ;",
    },
    {
        "input": "How much amount did person SWAPNA TANTI got.",
        "query": "SELECT SUM(amount) FROM beneficiary_transaction_data where  fullname = 'SWAPNA TANTI';",
    },
    {
        "input": "Give the address of beneficiary SWAPNA TANTI.",
        "query": "SELECT grampanchayat_ward_name ||', '||block_municipalcouncil_name ||',  '|| subdivision_name ||', '||district_name||', '||state_name  FROM beneficiary_transaction_data WHERE  fullname = 'SWAPNA TANTI';",
    },
    {
        "input": "Name the person who got the lowest amount of DBT",
        "query": "SELECT MIN(amount), fullname FROM beneficiary_transaction_data group by fullname,amount ORDER BY amount ASC LIMIT 1;"
    }
]

In [ ]:
example_prompt = PromptTemplate.from_template("User input: {input}\nSQL query: {query}")
prompt = FewShotPromptTemplate(
    examples=examples,
    example_prompt=example_prompt,
    prefix= template1,
    suffix="Question: {question}\nSQLQuery: ",
    input_variables=["question",  "schema"],
)

In [ ]:
def get_schema(_):

    return db.get_table_info()

In [ ]:
print(get_schema(None))

In [ ]:
def parse(str):
   #print("str:"+str +"\n --------------")
   #print(type(str))
   #print(len(str))
   res= str.split("\nSQLQuery:")

   #print("\n#----------------#\n")
   #print(len(res))
   #print(res)
   #print("\n#####################\n")
   #print(res[1])
   #print("\n#####################\n")
   out= res[1].replace("\n","")
   ret= out.split(";")
   #print(ret[0])
   #ret= out.split("Answer:")
   #print(ret[0])
   return ret[0]

In [ ]:
from langchain_core.output_parsers import StrOutputParser
#from langchain_core.runnables import RunnablePassthrough
from langchain.schema.runnable import RunnablePassthrough

#llm = local_llm

sql_chain = (
    RunnablePassthrough.assign(schema = get_schema )
    | prompt
    #| local_llm.bind(stop=["\nSQLResult:"])
    | local_llm.bind(stop=["\nSQLQuery:"])
    | StrOutputParser()
    | parse
)

In [ ]:
user_question = 'how many transactions are there all together in the table?'
sql_chain.invoke({"question": user_question})

In [ ]:
user_question = 'how much amount did person SWAPNA TANTI got?'
sql_chain.invoke({"question": user_question})

In [ ]:
 from langchain_core.prompts import PromptTemplate

#template = """Based on the table schema below, question, sql query, and sql response, write a natural language response:
#{schema}

#Question: {question}
#SQL Query: {query}
#SQL Response: {response}"""
#prompt_response = PromptTemplate.from_template(template)


#template2 = """
#Based on the table schema below, question {question}, sql query, and sql response {response}, write a "Natural Language Sentence"  from the SQL Response in one line.:
#{schema}

#Question: {question}
#SQL Query: {query}
#SQL Response: {response}
#"""

template2 = """

As you are a Q&A chatbot who is expert in converting SQL Response in Natural Language from the Query and schema given, Always use Amount is in INR, Find relevent columns from the schema to generate the output.
Based on the below table

schema: {schema},

question: {question},

SQL Query: {query},

and SQL Response: {response},

write a Natural Language concise sentence in one line by converting the SQL Response into proper meaningful Answer of the question asked.
If no SQL Response is found, please reply with "This is not available with us". No pre-amble. DO NOT INVENT DATA.
Output:
"""


prompt_response = ChatPromptTemplate.from_template(template2)

#prompt_response = ChatPromptTemplate.from_messages(
#    [
#        (
#            "system",
#            "Given an input question and SQL response, convert it to a natural language answer. No pre-amble.",
#       ),
#        ("human", template2),
#    ]
#)

In [ ]:
def run_query(query):
  #print("XYZZZZ"+query.split("SQL Query:\n")[1])
 # str=query.split("SQL Query:\n")[1]
  #print("Print Query: "+str)
  # Return the result as a string
  #result = db.run(str)
  result = db.run(query)
  print("Result: "+result.replace("[","").replace("]","").replace("(","").replace(",)",""))
  #str = result.replace("[","").replace("]","").replace("(","").replace(",)","")
  #print(type(result))
  #return str
  return result

  #return db.run(str)

In [ ]:
full_chain = (
    RunnablePassthrough.assign(query=sql_chain).assign(
        schema=get_schema,
        response=lambda vars: run_query(vars["query"]),
    )
    | prompt_response
    | local_llm
    | StrOutputParser()

)

In [ ]:
user_question = 'Name the person who got the lowest amount of DBT ?'
result = full_chain.invoke({"question": user_question})
print(result)
print(result.split("Output:")[1])

In [ ]:
user_question = 'What is the average dbt in FY 2019-2020?'
#full_chain.invoke({"question": user_question})
result = full_chain.invoke({"question": user_question})
print(result)
print(result.split("SQL Response:")[1])

In [ ]:
user_question = 'How much DBT amount SUKLA BHOWMIK received?'
result = full_chain.invoke({"question": user_question})
print(result)
print(result.split("Output:")[1])